*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

body,
input {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
button {
  font-family: 'Bangers', cursive;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

img {
  display: block;
}

.feather {
  width: 3rem;
  height: 3rem;
}

.container {
  width: 100%;
  max-width: 94rem;
  margin: 0 auto;
  padding: 0 1rem;
}
