:root {
  --cyan: #1DC5DC;
  --orangeRed: #F64613;
  --orangeLight: #EE9A00;
  --blue: #1165D5;
  --yellow: #F1D900;
  --red: #E60012;
  --dark: #101010;
  --gray: #909090;
  --white: #f1f1f1;
  --cyanRGB: rgb(29,127,220);
}
